.main-header {
    background-color: rgb(221, 210, 210); 
    padding: 15px 0; 
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .header-title {
    color: #151515; 
    font-size: 24px;
    margin: 0; 
  }
  .header-nav {
    display: flex;
    gap: 20px; 
  }
  .nav-item {
    list-style: none; 
    z-index: 1;
  }
  .nav-link {
    color: #0c0b0b; 
    font-size: 18px;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #0a0a0a;
  }
  .nav-dropdown:hover .dropdown-menu {
    display: block; 
  }
  .dropdown-menu {
    display: none; 
    background-color: #343a40; 
    border-radius: 20px;
  }
  .nav-dropdown {
    position: relative; 
  }
  .dropdown-item {
    display: block; 
    color:gray; 
    padding: 10px 20px; 
  }

  .dropdown-item:hover {
    background-color: #495057; 
  }
    @media (max-width: 768px) {
    .header-container {
      flex-direction: column; 
      align-items: center;
    }
    .header-nav {
      flex-direction: column;
      gap: 10px;
    }
  }
  